@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif !important;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --orange: #FA8550;
}

header {
    justify-content: space-between;
    background-color: var(--white);
}

.nav {
    gap: 1.5rem;
    text-decoration: none;
}

.nav .nav-item a {
    list-style: none;
    color: var(--black);
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.navbar-img img {
    width: 210px;
    height: 30px;
    color: var(--orange);
}
/* ===================== Estilizando First-Section ======================= */
.first-section {
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.img-content-section {
    filter: brightness(70%);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    max-width: 100%;
}

.content-text {
    position: absolute;
    text-align: start;
    color: var(--white);
    padding: 2rem;
    top: 500px;
    left: 16.688rem;
    top: 10.25rem;
}

.content-text h1 {
    text-align: left;
    font: normal normal bold 72px/86px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 72px;
}

.content-text span {
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    margin: 20px 0;
}

.content-text p {
    font-size: 24px;
    top: 633px;
    left: 340px;
    width: 400px;
    height: 116px;
}