@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif !important;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --orange: #FA8550;
    --grey: #F8F8F8
    --greyb: #333333
}

header {
    justify-content: space-between;
    background-color: var(--white);
}

.nav {
    gap: 1.5rem;
    text-decoration: none;
}

.nav .nav-item a {
    list-style: none;
    color: var(--black);
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.navbar-img img {
    width: 210px;
    height: 30px;
    color: var(--orange);
}
/* ===================== Estilizando First-Section ======================= */
.first-section {
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.img-content-section {
    filter: brightness(70%);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    max-width: 100%;
}

.content-text {
    position: absolute;
    text-align: star
    t;
    color: var(--white);
    padding: 2rem;
    top: 500px;
    left: 16.688rem;
    top: 10.25rem;
}

.content-text h1 {
    text-align: left;
    font: normal normal bold 72px/86px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 4.5rem;
}

.content-text span {
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 3px;
    background-color:var(--white);
    margin-bottom: 20px;
    margin: 20px 0;
}

.content-text p {
    font-size: 24px;
    top: 633px;
    left: 340px;
    width: 400px;
    height: 116px;
}
/* ===================== Estilizando Second-Section ======================= */
.second-section{
    display: flex;
    background-color: var(--orange);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    top: 1080px;
    left: 0px;
    height: 605px;
}

.second-section h2 {
    color: var(--white);
    font: normal normal bold 60px Roboto;
    letter-spacing: 0px;
}

.second-section span {
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    margin: 20px 0;
}

.second-section p {
    color: var(--white);
    text-align: center;
    font-size: 24px;
}

.btn-action{
    margin-top: 3rem;
    background-color: var(--white);
    padding: 0.5rem 3rem;
    border: none;
    font-weight: 600;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
}

.btn-action button {
    color: var(--orange);
}

/* ===================== Estilizando Three-Section ======================= */
.three-section {
    display: flex;
    background-color: var(--white);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 1080px;
    left: 0px;
    height: 605px;
    gap: 20px; /* Define o espaçamento entre os elementos */
}

.three-section h2 {
    color: var(--black);
    font-size: 60px;
    opacity: 1;
    height: 72px;
    text-align: center;
    font: normal normal bold 60px/72px Roboto;
}

.three-section img{
    height: 32px;
    margin-bottom: 5px;
}

.three-section p {
    font-size: 18px;
}

.container text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.col h3 {
    font-size: 24px;
    text-align: center;
}

.three-section span {
    display: block;
    width: 10rem;
    height: .5rem;
    border-radius: 20px;
    background-color: #FA8550;
    border-radius: 2rem;
    margin-top: 2rem;
}
    
/* ===================== Estilizando Four-Section ======================= */

.four-section {
    background-color: #F8F8F8;
    margin: 0;
    height: 660px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.item {
    width: 820px;
}

.owl-nav.disabled {
    display: block !important;
}

.owl-nav button{
    position: absolute;
    z-index: 3 !important;
    background-repeat: no-repeat !important;
    background-size: 25px 25px !important;
    background-color: var(--orange);
    border-radius: 5px;
    bottom: 27rem;
    margin: 0 !important;
}

.element-style {
    color: var(--white);
    height: 17px;
}

.owl-nav button.owl-next {
    width: 40px;
    height: 40px;
    background-color: var(--orange) !important;
    position: absolute;
    border-radius: 50px !important;
    right: 80px;
    top: 42%;
    background-image: url('../images/seta-direita\ \(1\).png') !important;
    background-repeat: no-repeat !important;
    background-size: 20px 20px !important;
    background-position: center !important;
}

.owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    background-color: var(--orange) !important;
    background-image: url('../images/seta-esquerda\ \(1\).png') !important;
    background-position: center !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    border-radius: 50px !important;
    position: absolute;
    left: 80px;
    top: 42%;
}

.owl-theme .owl-dots .owl-dot span  {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid var(--black) !important;
    background-color: var(--gray);
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--black);
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--black);
}

/* ===================== Estilizando Five-Section ======================= */
.five-section {
    display: flex;
    background-color: var(--black);
    height: 482px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15rem;
    opacity: 1;
}

.five-section h3 {
    color: var(--white);
    font-size: 60px;
    height: 72px;
    text-align: center;
    font: normal normal bold 60px/72px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.five-section button {
    margin-top: 3rem;
    color: var(--black);
    padding: 0.5rem 3rem;
    border: none;
    font-weight: 600;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
}

/* ===================== Estilizando Footer ======================= */

footer  {
    display: flex;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 50px;
    align-items: center;
}